.vertical-tabs__pane {
  padding: 20px;
}

.form-wrapper[data-drupal-selector="edit-header"] {
  > div {
    display: flex;
  }
  min-height: 72px;
  line-height: 72px;
  background: #FFFFFF;
  .form-actions {
    margin-left: 10px;
  }
}

.mdc-checkbox, .mdc-radio {
  margin-left: -10px;
}

input[type="file"], input.form-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}