@import "~@material/animation/mdc-animation";
@import "~@material/elevation/mixins";

form.views-exposed-form {
  margin-bottom: 20px;
  .mdc-icon-toggle {
    float: right;
  }
  .toggle-form {
    @include mdc-elevation(2);
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-radius: 3px;
    animation: max-height 175ms $mdc-animation-linear-out-slow-in-timing-function;
    &.toggle-form--show {
      max-height: 500px;
      height: auto;
      background: #F5F5F2;
      padding: 10px 20px;
    }
    > div {
      margin-right: 10px;
    }
  }
}