@import "menu__account";
@import "breadcrumb";
@import "dropbutton";
@import "local_actions";
@import "~@material/ripple/mixins";

.toolbar-page_tabs {
  position: relative;
  margin: 16px 24px 0;
}

aside.mdc-persistent-drawer {
  margin-top: 64px;
}

.mdc-toolbar-top {
  z-index: 2;
}

.icon-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
  @include mdc-ripple-base;
  @include mdc-ripple-bg((pseudo: "::before"));
  @include mdc-ripple-fg((pseudo: "::after"));
}