{#
/**
 * @file
 * Theme override to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 */
#}
{% if types is not empty %}
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
        {% for type in types %}
            <li class="mdc-list-item">
                <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">
                {% if type.icon %}{{ type.icon }}{% else %}folder{% endif %}
                </i>
                <span class="mdc-list-item__text">
                  {{ type.add_link }}
                    <span class="mdc-list-item__text__secondary">
                    {% if type.description is not empty %}
                        {{ type.description }}
                    {% else %}
                        Add some cool stuff
                    {% endif %}
                    </span>
                </span>
            </li>
            <hr class="mdc-list-divider mdc-list-divider--inset">
        {% endfor %}
    </ul>
{% else %}
    <p>
        {% set create_content = path('node.type_add') %}
        {% trans %}
        You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
        {% endtrans %}
    </p>
{% endif %}
